canvas {
  background-color: rgb(255, 136, 100);
  -moz-box-shadow: 1px 1px 3px 2px rgb(255, 136, 100);
  -webkit-box-shadow: 1px 1px 3px 2px rgb(255, 136, 100)3;
  box-shadow: 1px 1px 3px 2px rgb(255, 136, 100);
  text-align: center;
  margin: 0;
  width: 100%;
}
